@import url("https://fonts.googleapis.com/css?family=Raleway:400");

.desctop-1 {
    align-items:flex-start;
    background-color: #f1e9de;
    border: 1px none;
    display: flex;
    width: 1920px;
    gap: 278px;
}

.hidden,.hidden * {
    pointer-events: none;
    visibility: hidden;
}
.overlap-group3 {
    height: 1080px;
    position: relative;
    width: 145px;
    display: flex;
}

.overlap-group2 {
    height: 1080px;
    left: 20px;
    position:absolute;
    top: 0px;
    width: 103px;
}

.rectangle-2 {
    background-color: var(--gold);
    border: 1px solid;
    border-color: var(--black);
    height: 33px;
    left: -524px;
    position: absolute;
    top: 524px;
    transform: rotate(-90deg);
    width: 1080px;
}

.rectangle-1 {
    background-color: var(--gold);
    border: 1px solid;
    border-color: var(--black);
    height: 33px;
    left: -454px;
    position: absolute;
    top: 524px;
    transform: rotate(-90deg);
    width: 1080px;
}

.image-1 {
    height: 160px;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 145px;
}

.overlap-group-containter {
    align-items:center;
    display: flex;
    flex-direction: column;
    gap: 231px;
    margin-top: 247px;
    min-height: 472px;
    width: 1075px;
}

.desctop-1 .text {
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    white-space: nowrap;
}

.rectangle-4:hover {
    background-color: #55603c;
}

.rectangle-4 {
    background-color: #70804e;
    border: 3px solid;
    border-color: var(--black);
    border-radius: 54px;
    cursor: pointer;
    height: 108px;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.2s ease;
    width: 312px;
    display: inline-block; /* Строчно-блочный элемент */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 85px;
    line-height: 100px;
    /* identical to box height */
    
    text-align: center;
    text-decoration: none;
    
    color: #000000;
}

.rectangle-3 {
    background-color: #d9d9d9;
    border: 3px solid;
    border-color: var(--black);
    border-radius: 66.5px;
    height: 133px;
    width: 1073px;
    left: 0;
    position: absolute;
    top: 0;
    /* box-sizing: border-box;
    left: 423px;
    top: 247px;
    */
}

.overlap-group {
    border-radius: 54px;
    height: 108px;
    margin-left: 11px;
    position: relative;
    width: 312px;
}

.overlap-group1 {
    border-color: var(--black);
    border-radius: 66.5px;
    height: 133px;
    width: 1073px;
    margin-right: 2px;
    position: relative;
}

.valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text2 {
    position: absolute;
    width: 1064px;
    height: 133px;
    margin: 0%;
    top: 5%;
    left: 8%;    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 85px;
    line-height: 100px;    
    display: flex;
    text-align: center;
    
    color: #000000;
}

.text1 {
    position: absolute;
    width: 238px;
    height: 100px;
    left: 12.5%;    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 85px;
    line-height: 100px;
    /* identical to box height */
    
    text-align: center;
    text-decoration: none;
    
    color: #000000;
}

:root {
    --black: rgba(0,0,0,1);
    --go-ben: rgba(112,128,78,1);
    --tea: rgba(194,185,178,1);
    --gold: rgba(255,214,0,1);

    --font-size-l: 70px;
    --font-size-xl: 85px;
    --font-size-m2: 50px;

    --font-family-relaway: "Raleway";
}

.raleway-normal-black-50px {
    color: var(--black);
    font-family: var(--font-family-relaway);
    font-size: var(--font-size-m2);
    font-weight: 400;
    font-style: normal;
}

.raleway-normal-black-85px {
    color: var(--black);
    font-family: var(--font-family-relaway);
    font-size: var(--font-size-x1);
    font-weight: 400;
    font-style: normal;
}